<!DOCTYPE html>
<title>Food ordering System </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="">
</head>
<h1>Tapau at Inti</h1>
<body>
    
 
    <img src="https://images.summitmedia-digital.com/spotph/images/articles/150422-bhsfood-collage-540x382.jpg " width="500", height="500">
<br>
<br>
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signup2">Sign up as admin</a></button>
<button type="submit"><a href="/signin">SignIn</a></button>

</body>
</html>
<style>
h1{
    font-size: 30px;
}
body{
    text-align: center;
  

}


</style>