
<!DOCTYPE html>

<title>Food ordering System </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
   

</head>

<body>

    <a href="index/"> <h4>log-out</h4></a>

   
    <h1>Tapau At Inti Admin page</h1>
    <a href="/showresult"> <p>Order Form</p></a>
    <a href="/comment_result"> <p>Comment Form</p></a>


   

</body>
</html>


<style>
    h1{
  text-align: center;
}


h4{
  text-align: right;
  font-size: 20px;
}
p{
    text-align: center;
}
</style>