<!DOCTYPE html>
<title>Food ordering System </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="">
</head>

<h1>Food recipe</h1>
<body>
    
 
   


<div class="row1">
    <div class=" column">
      <div class="img-with-text">
       <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Nasi_Lemak%2C_Mamak%2C_Sydney.jpg/1200px-Nasi_Lemak%2C_Mamak%2C_Sydney.jpg" width="300", height="300">
        <h3>Hainan Chicken rice</h3>
        
       
       <h2>Ingredient</h2>
       <h2>HAINANESE CHICKEN</h2>
       <ul>
        <li>3 lb whole chicken(1.3 kg), giblets removed</li><br>
        <li>¼ cup kosher salt(60 g), divided </li>
        <li>4 inch pieces fresh ginger, peeled and cut into ¼-inch (6 mm) slices</li>
        <li>1 bunch fresh scallion</li>
        <li>1 can of coconut milk (5.6 oz. / /150 ml-180 ml)</li>
        <li>1 gal cold water(3.7 L), plus more as needed</li>
        <li>1 gal cold water(3.7 L), plus more as needed</li>
    </ul>
        <h2>Preparation</h2>
       
       <ul>
           <li>
            To clean the chicken, rub all over with a handful of kosher salt, getting rid of any loose skin. Rinse the chicken well inside and out. Pat dry with paper towels.
           </li>
           <li>
            Remove any excess fat from the chicken and set aside for later.
           </li>
 
          <li>
            Season the chicken generously with salt. Stuff the chicken cavity with the ginger slices and scallions.
          </li>
          <li>
            Place the chicken in a large stock pot, cover with cold water by 1 inch (2 cm), and season with salt to taste.
          </li>
        <li>
      </ul>
    
    </div>
    </div>
</div>
<a href="share"> <h3>Share recipe</h3></a>
</body>
</html>
<style>

h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

  


body {

  padding: 20px; 
  width: 1490px;
  height: 1800px;
  resize: both;
  overflow: auto;
  margin-left: 200px;
}




</style>