<!DOCTYPE html>
<title>Food ordering System </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="">
</head>

<h1>Food recipe</h1>
<body>
    
 
   


<div class="row1">
    <div class=" column">
      <div class="img-with-text">
       <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Nasi_Lemak%2C_Mamak%2C_Sydney.jpg/1200px-Nasi_Lemak%2C_Mamak%2C_Sydney.jpg" width="300", height="300">
        <h3>Nasi lemak</h3>
        <p>Nasi lemak - Malaysian coconut milk rice, served with sambal, fried crispy anchovies, toasted peanuts and cucumber. </p>
           <p> This is the best and most authentic nasi lemak recipe. </p>
       <p>Preparation time:30 minutes</p>
       <p>Cooking times: 30 minutes</p>
       <p>Total times: 1 hour</p>
       <h2>Ingredient</h2>
       <ul>
        <li>coconut milk steamed Rice</li><br>
        <li>2 cups rice </li>
        <li>3 screwpine leaves, tie them into a knot as shown above</li>
        <li>salt to taste</li>
        <li>1 can of coconut milk (5.6 oz. / /150 ml-180 ml)</li>
        <li>some water</li>
        
       </ul>
       <h2>Tamarind Juice</h2>
       <ul>
           <li>
               1 cup water
           </li>
           <li>
               tamarind pulp, size of a small ping pong ball
           </li>
       </ul>
       <h2>SAMBAL IKAN BILIS (DRIED ANCHOVIES SAMBAL)</h2>
      <ul>
          <li>
            1/2 red onion
          </li>
          <li>
            1 cup ikan bilis, dried anchovies

          </li>
        <li>
            1 clove garlic
        </li>
        <li>
            4 shallots
        </li>
        <li>
            10 dried chillies
        </li>
        <li>
            1 teaspoon belacan, prawn paste
        </li>
          1 cup ikan bilis, dried anchovies
<li>
    1/4 teaspooon shallots
</li>
1 tablespoon sugar
      </ul>
      <h2>Other Ingredients</h2>
      <ul>
          <li>
            2 hard boiled eggs, cut into half
          </li>
          <li>
            3 small fish, sardines or smelt fish
          </li>
          <li>
            1 small cucumber, cut into slices and then quartered
          </li>
      </ul>
    
    </div>
    </div>
</div>
<a href="share"> <h3>Share recipe</h3></a>
</body>
</html>
<style>

h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

  


body {

  padding: 20px; 
  width: 1490px;
  height: 1800px;
  resize: both;
  overflow: auto;
  margin-left: 200px;
}




</style>