<!DOCTYPE html>
<title>Food ordering System </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="">
</head>
<body>
<h3>Sign In</h3>
<form action="/signin" method="POST" >
{% csrf_token %}
{% if messages %}
<div class="messages"
{% for message in messages %}
{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
{% endfor %}
</div>
{% endif%}


  
      <label for="">Username</label>
      <input type="text" id="username"  placeholder="Enter Username" name="username" required>
      <label for="">Password</label>
      <input type="password"  id="pass1" placeholder="Enter Password" name="pass1" required>
  <br>
     
    <button type="submit">Sign In</button>
    <a href="index/"> <h3>Back</h3></a>
</form>
</body>
</html>